<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Actualizar Perfil: <%= resource_name.to_s.humanize %></h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render partial: "partials/devisemsg" %>

    <div class="input-field">
      <%= f.text_field :name, :id => "name", :class => "validate", :placeholder => "Nombre", autofocus: true %>
    </div>

    <div class="input-field">
      <%= f.email_field :email, :id => "email", :class => "validate", :placeholder => "Correo Electrónico" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-field">
      <%= f.password_field :password, :id => "password", autocomplete: "off", :class => "validate", :placeholder => "Nueva contraseña (Deja blanco si no quieres cambiar)" %>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, :id => "password_confirmation", autocomplete: "off", :class => "validate", :placeholder => "Confirma nueva contraseña" %>
    </div>

    <div class="input-field">
      <%= f.password_field :current_password, :id => "current_password", autocomplete: "off", :class => "validate", :placeholder => "Escribe tu contraseña para confirmar tu cambio." %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Actualizar</button>
    <%= link_to "Atrás", :back , :class => "btn waves-effect waves-light" %>

    <% end %>
  </div>
</div>

