<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Cambiar contraseña</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render partial: "partials/devisemsg" %>
      <%= f.hidden_field :reset_password_token %>

      <div class="input-field"> 
        <%= f.password_field :password, :placeholder => "Nueva contraseña", autofocus: true, autocomplete: "off" %>
      </div>

      <div class="input-field"> 
        <%= f.password_field :password_confirmation, :placeholder => "", autofocus: true, autocomplete: "off" %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Actualizar Contraseña</button>
    <% end %>

  </div>
</div>