<!DOCTYPE html>
<html>
  <head>
    <title>Webplay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script type="text/javascript" src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
     <script src="https://cdn.jsdelivr.net/clappr.chromecast-plugin/latest/clappr-chromecast-plugin.js"></script>
  </head>

  <%= render partial: "partials/header" %>
	<%= render partial: "partials/message" %>
  
  <body>
	  <main class="container">
	   <%= yield %>
	  </main>
  </body>
  
  <%= render partial: "partials/footer" %>

	 <script>
	  	$(".button-collapse").sideNav();
	  	$(".dropdown-button").dropdown();
	 </script>

</html>
